.centered#panel-contact
  %h2 Contact me
  = image_tag "headshot.jpg", :id => :headshot
  .notes
    = partial "parts/social_links"
    %dl
      %dt Email
      %dd= mail_to "matt@umm.io"
      %dt Phone
      %dd +44 7976 121 482
    .additional_links
      = link_to "CV/Résumé [pdf]", "/cv/matthew-macleod-cv-2015.pdf"
      = link_to "Credits", "/credits.html"


