.title
  %h1
    = link_to "Matthew MacLeod", "#top"
  %span.tagline Software Engineer
%nav.menu
  %ul
    %li= link_to "About", "#top", :class => :active
    %li= link_to "Blog", "#blog"
    %li= link_to "Portfolio", "#portfolio"
    %li= link_to "Contact me", "#contact"
