%a#back_to_top_link{ :href => '#'} &#xe809;
.centered
  .title= link_to "Matthew MacLeod", "/"
  %nav.menu
    .items
      = link_to "About", "/#"
      = link_to "Blog", "/#panel-blog"
      = link_to "Portfolio", "/#panel-portfolio"
      = link_to "Contact me", "#panel-contact"
