.title
  %h1
    = link_to "Matthew MacLeod", "#panel-about"
%nav.menu
  %ul
    %li= link_to "About", "#panel-about", :class => :active
    %li= link_to "Blog", "#panel-blog"
    %li= link_to "Portfolio", "#panel-portfolio"
    %li= link_to "Contact me", "#panel-contact"
