.title
  %h1
    = link_to "Matthew MacLeod", "#panel-about"
%nav.menu
  %ul
    %li= link_to "About", "#panel-about", :class => :active
    %li= link_to "Blog", "#blog"
    %li= link_to "Portfolio", "#portfolio"
    %li= link_to "Contact me", "#contact"
