.centered
  .title= link_to "Matthew MacLeod", "/"
  %nav.menu
    = link_to "About", "#panel-about", :class => :active
    = link_to "Blog", "#panel-blog"
    = link_to "Portfolio", "#panel-portfolio"
    = link_to "Contact me", "#panel-contact"
