!!! 5
%html.loading
  = partial "layouts/head"

  %body.blog_post
    #structure-header= partial "layouts/header"
    #structure-content
      .centered
        .content-title
          Blog
        .content
          %time.blog_date{ :datetime => current_page.data[:date].strftime("%Y-%m-%d") }= current_page.data[:date].strftime "%A %d %B#{" %Y" if current_page.data[:date] <= Date.today - 365 }" 
          ~yield
        .content-footer
          = link_to "â† Back", "/"
    #structure-footer= partial "layouts/footer"
