!!! 5
%html.loading
  = partial "layouts/head"

  %body.blog_post
    #structure-header= partial "layouts/header"
    #structure-content
      .centered
        .content-title
          = link_to "Home", "/"
          %span.sep →
          Blog
        .content
          ~yield
        .content-footer
          = link_to "← Back", "/"
    #structure-footer= partial "layouts/footer"
