!!! 5
%html.loading
  %head
    %meta{:charset => "utf-8"}/
    %title= [data.page.title, "Matthew Macleod"].reject(&:blank?).join(" | ")

    = stylesheet_link_tag "all"
    = javascript_include_tag "all"

  %body
    #structure-header
      .centered= partial "layouts/header"
    #structure-content= yield
