---
title: Fest Magazine — Portfolio
abstract: An annual publication covering the Edinburgh Festival
---

.portfolio-page#fest-portfolio-page
  .portfolio-intro
    .centered
      .content-title
        Portfolio
      .text
        %h1 Fest Magazine
        %p.lede Fest is an annual magazine covering the Edinburgh Festival. Since launching in 2002, it's become the most widely-read and well-respected Festival review magazine. I've worked with Fest for 10 years as the Creative Director and technical lead. 

  .portfolio-content
    .centered
      %h2.section_title.left What is Fest?
      = image_tag "fest/preview-cover-1.jpg", :class => :cover_image
      .content.clear
        .fest-intro
          :markdown
            Founded in 2002, Fest was launched with the goal of bringing a fresh editorial voice to the Festival market. Over the course of ten years, it has grown steadily to become the largest magazine covering the Edinburgh Festival.
            
            We publish six magazines every year – a preview guide in July, which serves as a handbook for the whole of the festival, and five issues packed full of reviews and features which hit the streets every Tuesday and Friday during the Festival. That's 125,000 magazines every year, so you can find Fest pretty much anywhere in Edinburgh.

            We've also got a comprehensive responsive website at [www.festmag.co.uk](https://festmag.co.uk), which includes searchable listings of every event at the festival and geolocation features to help mobile users find nearby events.


  .portfolio-content 
    .centered
      %h2.section_title The Preview Guide
      .content
        %p We publish the short-A4 format, 100-page, perfect-bound Fest Preview guide in July. It features extensive coverage of what's coming up at the Festival, tips on the most anticipated shows, interviews with leading Festival participants and a directory of the best places to eat, drink and visit while in Edinburgh.
      = image_tag "fest/preview-inner-1.jpg", :class => :preview_inner_image_1
      .content
        = image_tag "fest/preview-inner-2.jpg", :class => :preview_inner_image_2
        %p.top-padded The Preview Guide features a clean and accessible design, colour-keyed for ease of navigation, and with extensive use of fantastic original photo shoots by our excellent photo chief <a href='http://www.lensonlegs.co.uk'>Claudine Quinn</a>.
        %p I developed a flexible grid system in InDesign for the Preview guide, which allows for a variety of eyecatching layouts while maintaining navigability and ease-of-use. The unique 24-column layout allows for grids of 3×3, 4×4, 6×6 and two different layouts of 3½ columns, which means our features never feel constrained by available layout options. This is integrated with our workflow software to allow super-quick turnaround times, with the whole 100-page magazine going from idea to print in under 40 hours of layout time.

  .portfolio-content 
    .centered
      %h2.section_title The Festival issues
      .content
        .cover-image-set
          = image_tag "fest/issue-cover-1.jpg"
          = image_tag "fest/issue-cover-2.jpg"
          = image_tag "fest/issue-cover-3.jpg"
          = image_tag "fest/issue-cover-4.jpg"
          = image_tag "fest/issue-cover-5.jpg"
        %p We publish 5 additional magazines during the course of the Festival. These are 100-page A5 saddle-stitched editions, published every Tuesday and Friday. We're the only A5-format Festival publication, and the only glossy magazine that prints multiple editions every week – and it pays off, with Festival visitors hanging on to the magazine wherever they go. 
        %p The Festival issues are mostly packed full of show reviews, with a couple of features on interesting people of shows. Most importantly, we also include full listings of every comedy and theatre show at the Festival - and we're the only magazine to do this.
        %p The big challenge for these issues is the super-quick turnaround required. The time between receiving a review and the magazine hitting the streets can be as little at 36 hours - in that time, we need to process, edit, layout and get the magazine to print.
        %p Over the years, we've established a low-overhead workflow to ensure it's possible to process the huge amounts of copy we need. I developed a tightly-integrated workflow management system build obn top of our website – it exports article copy to an InDesign-specific tagged text format, which allows us to eliminate a lot of tedious formatting steps, essentially dropping the article content directly onto the page, automatically including information about show times and star ratings pulled directly from our show information API.
      = image_tag "fest/issue-inner-1.jpg", :class => :issue_inner_image_1
      = image_tag "fest/issue-inner-2.jpg", :class => :issue_inner_image_2

  .portfolio-content 
    .centered
      %h2.section_title The Website
      = image_tag "fest/ipad-vertical.jpg", :class => :website_ipad_1
      .content.website-intro
        %p Publishing is moving to the Web, and at the Edinburgh Festival that's no different. Visitors are looking for faster and easier ways to gain access to information about what's on and tips about what they should see.
        %p Key features of <a href='https://festmag.co.uk'>www.festmag.co.uk</a> include:
        %ul
          %li Up-to-the-minute reviews and features from the magazine plus additional online-only content
          %li Cross-platform and responsive
          %li Archive of all past Fest reviews and features
          %li Full listings of every Festival event and venue
          %li Content and event API for third-party access to all data
          %li HTML5 geolocation, allowing users to find events happening nearby
        %p The site is built with my own Rails-based Content Management System called Braincube. More information and the full source code is <a href='https://github.com/mattmacleod/Braincube'>available on github</a>.

  .portfolio-gallery
    = image_tag "fest/in-situ-screenshots.jpg"

  .portfolio-content 
    .centered
      %h2.section_title.left The Workflow
      = image_tag "fest/braincube-1.jpg", :class => :braincube_1
      .content.clear
        %p Fest's website uses the <a href='https://github.com/mattmacleod/Braincube'>Braincube CMS</a>, which is an open-source publishing platform I developed as part of my work with Scottish arts and culture magazine <a href='http://www.theskinny.co.uk'>The Skinny</a>, and the student newspaper <a href='http://journal-online.co.uk'>The Journal</a>.
        %p Braincube is primarily a highly customisable framework for building magazine websites. It's not a CMS in the traditional sense by itself, and in particular requires a developer to implement front-end templates. However, it's USP is the provision of several workflow, data and copy management features targeted specificly at low-overhead publishing.

        %p Features include:
        %ul.braincube-list
          %li Content pipeline for dual print and web publishing, allowing direct copy submission by journalists and online management through to print and online publishing.
          %li Single-source management for print and online copy.
          %li Extensive tagging features; organise content into arbitrary groups.
          %li Asset management tools for image cropping and drag-and-drop uploads.
          %li Direct integration with InDesign for page layout through use of the InDesign tagged text format.
          %li Comprehensive events database for online event listings.
          %li Multiple user support with access control.



  .portfolio-content 
    .centered
      %h2.section_title More information
      .content
        %p If you'd like to find out more about Fest, or any of the work mentioned above, please get in touch using the form below. You can also give me a ping on <a href='https://twitter.com/matt_macleod'>Twitter.</a>


  .centered
    .content-footer
      = link_to "← Back", "/"
